.header {
    display: flex;
    width: 100%;
    min-height: 80px;
    background-color: rgba(196, 196, 196, 0.01);
    box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
}

.header__nav-logo {
    padding-left: min(104px, 7%);
    font-family: "Roboto Slab", Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: #fff;
    margin: auto 0;
    text-decoration: none;
  }

  @media screen and (max-width: 700px) {
    .header__nav-logo {
    font-size: 16px;
    line-height: 24px;
    padding: 0;
    }
  }

  @media screen and (max-width: 700px) {
    .header {
      padding: 0 5%;
      height: 66px;
    }
  }

  @media screen and (max-width: 320px) {
    .header {
    height: 56px;
    }
  }
  